  <p>
    The GOVERNMENTNAME (GOV'ACRONYM) was established in YEAR to Section 6 of the GOV'ACRONYM act empowers it to develop and regulate technology application and innovation in Nigeria. Thus, GOV'ACRONYM created its subsidiary AGENCYACRONYMFULL (AGENCYACRONYM) to drive the innovation and entrepreneurship mandate of the agency.
  </p>
  <p>
    The mandates for the establishment of AGENCYACRONYM include; Develop, establish, support and incentivise ICT innovation hubs, information technology parks and community enterprise hubs across Nigeria and; Collaborate with private sector, development partners and MDAs at both federal and state levels on policies and programs that support ICT entrepreneurship and commercialisation.
  </p>
  <p>
    GOV'ACRONYM through AGENCYACRONYM has been listening to stakeholders and as a result, there is a need to reposition as agile facilitators to create an enabling environment for technology entrepreneurship to thrive. In this regard, GOV'ACRONYM plans to influence government policies by sharing findings from stakeholder engagements and research findings from similar markets to Nigeria.
  </p>
  <p>
    This document, the POLICYNAMEFULL (POLICYNAMEACRONYM), comprise of policy recommendations and incentives designed to strengthen the Nigerian technology entrepreneurship ecosystem. It consists of the following themes; Digital Infrastructure, Education Reform, Skills Development and R&D and Supporting the Ecosystem for Innovative Entrepreneurship. The document is also accompanied with a metadata that elaborates each vision.
  </p>
